<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CategoriaControl</servlet-name>
        <servlet-class>pe.edu.upeu.inventario.controlador.CategoriaControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioControl</servlet-name>
        <servlet-class>pe.edu.upeu.inventario.controlador.UsuarioControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Conex</servlet-name>
        <servlet-class>pe.edu.upeu.inventario.controlador.Conex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>pe.edu.upeu.inventario.controlador.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dota1</servlet-name>
        <servlet-class>pe.edu.upeu.inventario.controlador.Dota1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoriaControl</servlet-name>
        <url-pattern>/categ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioControl</servlet-name>
        <url-pattern>/usuar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Conex</servlet-name>
        <url-pattern>/cindex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dota1</servlet-name>
        <url-pattern>/dota</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
